<div class="container">

    <table class="table table-bordered">
         <caption><h2>课程信息表</h2></caption>
        <tr>
            <th>名称</th>
            <th>教师</th>
            <th>修改</th>
            <th>删除</th>
        </tr>

        <tr ng-repeat="course in courses">
            <td>{{course.name}}</td>
            <td>{{course.employee.name}}</td>
            <td>
                <a href="#/courses/update/{{course.id}}">修改</a>
            </td>
            <td>
                <a type="button" ng-click="deleteCourseById(course.id)">删除</a>
            </td>
        </tr>

    </table>

    <div>
        <a class="addCourse" type="button" href="#/courses/creation">添加课程</a>
    </div>
</div>