<div class="container">
    <table class="table table-bordered">
        <caption><h2>顾客信息表</h2></caption>
        <tr>
            <th>姓名</th>
            <th>私教</th>
            <th>修改</th>
            <th>删除</th>
        </tr>

        <tr ng-repeat="customerObject in customerObjects">
            <td>{{customerObject.name}}</td>
            <td>{{customerObject.privateCoach}}</td>
            <td>
                <a href="./customers/update/<%= customers.get(i).getId()%>">修改</a>
            </td>
            <td>
                <a type="button" class="deleteCustomer" data-id="<%= customers.get(i).getId()%>">删除</a>
            </td>
        </tr>

    </table>
    <div>
        <a type="button" href="./customers/creation">添加顾客</a>
    </div>

</div>