.courses {
    background-color: #d6d6d6;
}

table{
    width: 800px;
    height: 120px;
    font-size: large;
    text-align: center;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #cdcdcd;
    border-collapse: collapse;
    width: 800px;
    height: 40px;
}

th {
    text-align: center;
    height: 50px;
    background-color: #f4f4f4;
}

a:link {
    text-decoration: none;
}

.addCourse {
    display: inline-block;
    margin: auto 200px;
    height: 50px;
    line-height: 50px;
}