.navigator{
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: auto 150px;
}

.navigator ul
{
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    display: inline-block;
    border-radius: inherit;
}

.navigator li {
    display: inline-block;
    width: 90px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: medium;
}

#logout {
    width: 500px;
    text-align: right;
}
a {
    color: #3275c1;

}

a:link {
    text-decoration: none;
}

a:hover {
    color: #000000;
}