<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/users_management</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping class="com.tw.entity.User"/>
        <mapping class="com.tw.entity.Employee"/>
        <mapping class="com.tw.entity.Customer"/>
        <mapping class="com.tw.entity.Course"/>
        <mapping class="com.tw.entity.Coach"/>
        <mapping class="com.tw.entity.Schedule"/>


    </session-factory>
</hibernate-configuration>